.image {
  @apply max-w-[800px] w-full sm:hidden md:hidden lg:hidden;
  background-image: url('/images/home/BG-adv.png');
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
}
