.cards {
  @apply flex justify-between font-['Comfortaa'] text-center items-end sm:hidden md:hidden lg:hidden xl:hidden;
  li {
    @apply mb-8 last:mb-0 text-2xl font-normal leading-normal;
  }
  ul {
    @apply text-start;
  }
  p {
    @apply leading-none;
  }
}

.cardLeft {
  @apply relative max-w-[450px] w-full h-[900px] bg-[#FFFFFF] rounded-[20px] py-[120px] px-[70px] z-10;
  &:before {
    @apply content-[''] absolute w-full h-full top-0 right-0 rounded-[20px] z-[-1];
    background: url('/images/home/BG-card-left.png') no-repeat;
  }
}
.cardMain {
  @apply relative max-w-[650px] w-full bg-[#FFFFFF] rounded-[20px] py-[80px] px-[120px]  shadow-cardShadow z-10;
  &:before {
    @apply content-[''] absolute w-full h-full top-0 right-0 rounded-[20px] z-[-1];
    background: url('/images/home/BG-card-main.png') no-repeat;
  }
  ul {
    @apply 2xl:mb-[100px];
  }
}
.cardRight {
  @apply relative max-w-[450px] w-full h-[900px] bg-[#FFFFFF] rounded-[20px] py-[120px] px-[70px] z-10;
  &:before {
    @apply content-[''] absolute w-full h-full top-0 right-0 rounded-[20px] z-[-1];
    background: url('/images/home/BG-card-right.png') no-repeat;
  }
}

@media (min-width: 1275px) and (max-width: 1527px) {
  .cards {
    @apply gap-6;
  }
}
