.cards {
  @apply flex gap-6 font-['Comfortaa'] text-center items-end;
  li {
    @apply mb-2 last:mb-0 text-2xl font-normal leading-normal;
  }
}

.cardLeft {
  @apply relative w-[450px] h-[964px] bg-[#FFFFFF] rounded-[20px] py-20 px-40;
  &:before {
    @apply content-[''] absolute w-full h-full top-0 right-0 rounded-[20px];
    background: url('/images/home/BG-card-left.png') no-repeat;
  }
}
.cardMain {
  @apply relative w-[650px] h-[1033px] bg-[#FFFFFF] rounded-[20px] py-20 px-40 shadow-cardShadow;
  &:before {
    @apply content-[''] absolute w-full h-full top-0 right-0 rounded-[20px];
    background: url('/images/home/BG-card-main.png') no-repeat;
  }
}
.cardRight {
  @apply relative w-[450px] h-[964px] bg-[#FFFFFF] rounded-[20px] py-20 px-40;
  &:before {
    @apply content-[''] absolute w-full h-full top-0 right-0 rounded-[20px];
    background: url('/images/home/BG-card-right.png') no-repeat;
  }
}
