@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Montserrat:wght@400;700&family=Roboto:wght@400;500;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  @apply font-Montserrat font-[400] text-sm text-text h-[100vh] leading-none overflow-x-hidden accent-primary;
}

section {
  @apply mt-[120px];
}

.slick-slide {
  @apply !flex justify-center md:!flex;
}

@media (max-width: 639px) {
  .MuiButtonBase-root {
    font-size: 10px !important;
  }
}
